html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 890px;
}

.el-breadcrumb{
    padding-bottom: 15px;
    font-size: 15px;
}

.el-card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-table {
    margin-top: 15px;
    margin-bottom: 15px;
}

.el-steps{
    margin: 15px auto;
}

.ql-editor {
    min-height: 300px;
}
